
* {
  color: #AAA;
}

a:hover {
  text-decoration: none;
}

.actions a {
  display:inline-block;
  font-size:25px;
  cursor:pointer;
  padding:40px;
  text-align:center;
}

.actions .info {
  display:none;
  font-size:12px;
  text-transform: uppercase;
  color: #CCC;
  letter-spacing: 2px;
}

.start, .stop, .mute, .unMute {
  display:none;
}

.actions a.mute, .actions a.unMute {
  width:100px;
  height:100px;
  vertical-align: top;
  float:right;
}

ol{
  padding:0px 40px;
  margin:0px;
}

li {
  font-size:23px;
  line-height: 32px;
  list-style:none;
  margin-left:0;
  letter-spacing: -1px;
  text-align: left;
  /*transition-timing-function: linear;*/
  transition: font-size 200, font-weight 200, height 200, margin 200, line-height 200, letter-spacing 200;
  /*transition: font-weight 100;*/
  /*transition: color 100;*/
}

li.active {
  color: #af111c;
}

li.active, li.next {
  letter-spacing: -7px;
  font-size: 100px;
  line-height:100px;
  font-weight:bold;
  margin-top:30px;
  margin-bottom:40px;
  
}

li.active span.part, li.next span.part {
  display:none;
}

li span.part {

  letter-spacing:0;
  background-color: #DDD;
  display:inline-block;
  display:none;
  vertical-align: middle;
  font-size:11px;
  /*color:#999;*/
}

.credits {
  position:fixed;
  left:3;
  bottom:3;
  color: #DDD;
}

.credits a {
  transition: color 200;
  color: #DDD;
}

.credits a:hover{
  color: #AAA;
  text-decoration: none;
}